.button {
  @extend .titulo;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  border: none;
  font-size: 1rem;
  background-color: map-get($colores, bgBoton);
  transition: all 0.5s ease;
}

@media screen and (min-width: map-get($breakpoints, mobile)) {
}

@media screen and (min-width: 321px) and (max-width: map-get($breakpoints, tablet)) {
}

@media screen and (min-width: 769px) and (max-width: map-get($breakpoints, laptop)) {
}
@media screen and (min-width: 1025px) {
}
